.forma {
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}

.forma1 {
  height: 12.5rem;
  width: 12.5rem;
  left: 20rem;
  top: 1.25rem;
}

.forma2 {
  height: 28rem;
  width: 28rem;
  bottom: -10rem;
  right: -10rem;
}

.forma3 {
  height: 15rem;
  width: 18rem;
  left: -10rem;
  top: 10.5rem;
}