.input-contenedor-is {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

.input-contenedor-is input {
  padding: 0.7rem;
  border: 2px solid gray;
  border-radius: 0.4rem;
  outline: none;
}

.input-contenedor-is label,
.input-contenedor-is a {
  font-size: 0.8rem;
  font-weight: 600;
}

.input-contenedor-is .olvidar {
  display: flex;
  justify-content: space-between;
}

.input-contenedor-is .olvidar a {
  align-self: flex-end;
  font-size: 12px;
  margin-right: 0px;
  margin-left: 250px;
}

.input-contenedor-is a {
  color: midnightblue;
  text-decoration: none;
}

.input-contenedor-is a:hover {
  text-decoration: underline;
}

.recordar {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 1.7rem;
}

.recordar label {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  margin-right: 200px;
  cursor: pointer;
}