.linea {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

.linea::before,
.linea::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid black;
  margin: 0 0.6rem;
}

.otros-inicios-sesion {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.otros-inicios-sesion a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  font-weight: 700;
  padding: 0.6rem 1.5rem;
  gap: 0.5rem;
  border-radius: 0.4rem;
  text-decoration: none;
}

.otros-inicios-sesion img {
  width: 1rem;
}

.otros-inicios-sesion .google {
  border: 1px solid gray;
  color: red;
}

.otros-inicios-sesion .facebook {
  border: 1px solid gray;
  color: blue;
}

.otros-inicios-sesion .apple {
  border: 1px solid gray;
  color: black;
}

.otros-inicios-sesion span:hover {
  text-decoration: underline;
}