.cards .card {
  background-color: #ffe4e1;
  display: flex;
  width: 300px;
  height: 420px;
  padding: 2rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
  display: block;
  margin-bottom: 1rem;
}

.cards .card>.contenido-textos-card {
  width: 60%;
  color: black;
}

.cards .card>.contenido-textos-card p {
  font-size: 0.95rem;
  text-align: justify;
  color: black;
}

.cards .card>.contenido-textos-card h4 {
  margin: 0.5rem 0;
  font-size: 1.2 rem;
  color: black;
  margin-bottom: 20px;
}

.cards>card:nth-child(3) {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}