.container-calendar{
    min-height: 90vh;
    color: #d08383;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 50px;}

.titulo-clases {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 2.5rem;
    /* font-weight: bold; */
}

.tableDescription {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #2f5b46;
    margin: 10px auto 25px;
    max-width: 900px; 
    line-height: 1.4;
    text-align: center;
    }

.horario-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid #e0e0e0;
    border-radius: 8px; 
    overflow: hidden; 
    max-width: 1200px;
    font-family: Arial, sans-serif;
}

.horario-grid > div {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

.horario-grid > div:nth-child(6n + 1) {
    border-left: none;
}
.horario-grid > div:nth-last-child(-n + 6) {
    border-bottom: none;
}


.celda-header {
    font-weight: bold;
    text-align: center;
    background-color: #f9f9f9; 
    color: #2f5b46;
    font-size: 0.9em;
    text-transform: uppercase;
}

.celda-hora {
    font-weight: bold;
    font-size: 0.9em;
    color: #2f5b46;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.celda-clase {
    min-height: 80px; 
    padding: 10px; 
    background-color: #fff;
}

.lista-clases {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.clase-item {
    font-size: 0.9em;
    color: #444;
    border-left: 2px solid #d1a3a3; 
    padding-left: 8px;
    line-height: 1.4;
    cursor: pointer; 
}

.clase-item:hover {
    color: #966b8f;
}
.clase-item.selected {
    border: none;
    transition: background-color 0.3s ease;
    background-color: #f0e0e0;
    border-left: 2px solid #d08383; 
    border-radius: 4px;
}

.footer-calendar {
    margin-bottom: 1rem;
}

.btn-agregar {
    background-color: #d08383;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-agregar:hover {
    background-color: #b56565;
}