@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Bevan:ital@0;1&family=Leckerli+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rouge+Script&family=Rubik+Dirt&family=Story+Script&display=swap');


footer {
  background-color: #625d5d !important;
  padding: 25px 20px 10px 20px;
  color: #f5f5f5;
  font-family: "Montserrat";
  /* position: relative;
  z-index: 10; */
}

.contenedor-footer {
  display: flex;
  /*width: 90%;
  padding-bottom: 50px;*/
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1000px;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 218px;
  /*color: #4d4949;*/
  transition: transform 0.3s ease;
}

.content-footer:hover{
  transform: translateY(-5px);
}

.content-footer h4 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #eea5e9;
  margin-bottom: 5px;
  /*color: #bda6a6;
  border-bottom: 3px solid #f499ee;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  inline-block;
  gap: 8px;
  font-size: 1.1rem;*/
}

.content-footer p {
  color: #ddd/*#d9cfcf*/;
  margin: 0;
  font-size: 0.9rem;
}

.content-footer .icono-footer {
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(244, 153, 238, 0.2);
  border: 1px solid #eea5e9;
  /*object-fit: contain;*/
}

.footer-copyright {
  width: 100%;
  text-align: center;
  border-top: 1px solid #666;
  padding-top: 10px;
  margin-top: 20px;
}

.titulo-final {
  /*margin-top: 10px;
  text-align: center;*/
  font-size: 0.95rem;
  /*margin: 20px 0 0 0;*/
  color: #aaa;
  /*padding-top: 2px;*/
  letter-spacing: 1px;
}