@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Bevan:ital@0;1&family=Leckerli+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rouge+Script&family=Rubik+Dirt&family=Story+Script&display=swap');


.footer {
  background-color: #625d5d !important;
  padding: 3re, 2rem 1.5rem;
  color: #d2d2d2;
  font-family: "Montserrat";
  /* position: relative;
  z-index: 10; */
}

.footer-top {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 3rem;
  margin-bottom: 4px;
}

.footer-logo {
  width: 90px;
  margin-bottom: 0.005rem;
}

.footer-title {
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;;
  margin-top: 2px;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

/*}.footer-subtitle {
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
  opacity: 0.85;
}*/

.footer-bottom-sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  max-width: 1100px;
  margin: auto;
}

.footer-section h4{
  margin-bottom: 1rem;
  font-size: 1rem;
}

.footer-section ul{
  list-style: none;
  padding: 0;
}

.footer-section li{
  font-size: 0.9rem;
}

.footer-section ul li {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.footer-icon {
  width: 22px;
  margin-right: .6rem;
}

.footer-brand {
  text-align: left;
}

.footer-socials {
  display: flex;
  gap: 0.8rem;
}

.footer-socials img {
  width: 26px;
  cursor: pointer;
  transition: .2s;
}

.footer-socials img:hover {
  transform: scale(1.12);
}

.footer-bottom {
  text-align: center;
  margin: 2rem;
  border-top: 1px solid #555;
  padding-top: 1rem;
  font-size: .9rem;
  opacity: .8;
}
