/* Fondo general: blanco, centrado, limpio */
.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px 0;
    background-color: #ffffff;
}

/* Tarjeta principal */
.profile-card {
    width: 420px;
    background: #ffffff;
    border-radius: 20px;
    padding: 40px 32px;
    box-shadow: 0 8px 20px rgba(150, 21, 21, 0.12);
    text-align: center;
    font-family: "Montserrat";
    animation: fadeIn 0.3s ease-in-out;
}

/* Avatar centrado */
.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.avatar img {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid #1b4d3e;
}

/* Nombre */
.profile-card h2 {
    margin: 0;
    font-size: 24px;
    color: #1b4d3e;
    font-weight: 600;
}

/* Email */
.profile-card p {
    margin-top: 4px;
    font-size: 14px;
    color: #6b7a74;
}

/* Datos */
.profile-data {
    margin-top: 32px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Filas */
.row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 14px;
}

.row input {
    border: none;
    background: transparent;
    text-align: right; 
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #1b4d3e;
    font-weight: 500;
    width: 60%; 
    outline: none;
    transition: all 0.2s ease;
    border-bottom: 1px solid transparent;
}

.row input:focus {
    color: #63a080;
    border-bottom: 1px solid #63a080;
}

.row input::placeholder {
    color: #c0ccc6;
    font-weight: 400;
    font-style: italic;
}

.row input[type="date"] {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px; 
}

.label {
    font-size: 14px;
    color: #8a9a92;
}

.value {
    font-size: 14px;
    color: #1b4d3e;
    font-weight: 500;
}

#btn-save {
    margin-top: 14px;
    padding: 10px 18px;
    border-radius: 12px;
    background-color: #63a080;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;;
    margin-left: 0.8rem;
    font-family: "Montserrat", sans-serif;
}

.logout-btn {
    margin-top: 14px;
    padding: 10px 18px;
    border-radius: 12px;
    background-color: #e57373;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    font-family: "Montserrat", sans-serif;
}

#btn-save:hover {
    background-color: #2f5b46;
    transform: translateY(-2px);
}

.logout-btn:hover {
    transform: translateY(-2px);
}

.success-message {
    margin-top: 14px;
    color: #2f5b46;
    font-weight: 600;
}

.error-text {
    display:block;
    color: #b15252;
    font-size: 16px;
    margin-top: 4px;
}

/* Animación */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to   { opacity: 1; transform: translateY(0); }
}
