.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px;
  margin-top: 40px;
  align-items: center;
  text-align: center;
}

.body-registrar {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #daebfb;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-registrar header {
  padding: 40px 20px 20px;
}

.body-registrar header h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: rgb(230, 120, 193);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-registrar header p {
  font-size: 1.2rem;
  color: black;
}