@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.password-change-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: "Monetserrat", sans-serif;
}

.password-change-titulo {
    color: #d08383;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.password-change-form {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 50px;
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.password-change-input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #a9b8aa;
    font-size: 0.95rem;
    color: #2f5b46;
    outline: none;
    transition: all 0.2s ease;
}

.password-change-label {
    font-weight: 600;
    color: #2f5b46;
    font-size: 0.95rem;
    width: 100%;
    display: block;
    margin-bottom: 4px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    }

.password-change-button {
    background-color: #2f5b46;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    align-self: center;
}

.password-change-button:hover {
    background-color: #234a39;
    transform: translateY(-2px);
}

.password-hint {
    font-size: 0.8rem;
    color: #d08383;
    margin-top: 0px;
}

