.page-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  background-image: url("/FlorLogo.png");
  background-repeat: repeat;
  background-size: 200px;
}

.membresias-window {
  margin: 110px;
  background-color: transparent;
  border: 3px solid #2b462d;
  border-radius: 15px;
  padding: 0px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 900px;
}

.membresias-header-wrapper {
  background-color: #2b462d;
  color: #ffffff;
  padding: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  box-shadow: none;
}

.membresias-header {
  margin: 0;
  padding: 10px;
  font-size: 28px;
  font-family: 'Montserrat';
}

.membresias-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  padding: 20px 0;
}

.membresia-card {
  background-color: #f5c4c4;
  border: 3px solid #2b462d;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.membresia-card h2 {
  color: #2b462d;
  font-size: 25px;
  margin-top: 0;
  font-family: 'Montserrat';
}

.membresia-card p {
  color: #2b462d;
  font-size: 17px;
  margin: 10px 0;
  font-family: 'Montserrat';
}

.membresia-card label {
  color: #2b462d;
  font-size: 17px;
  margin: 10px 0;
  font-family: 'Montserrat';
}

.price-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.price-input {
  width: 60px;
  padding: 5px;
  border: 1px solid #2b462d;
  border-radius: 5px;
  text-align: right;
  font-family: 'Montserrat';
}