* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #daebfb;
}

/*Footer, HomePage*/
.body-inicio {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #daebfb;
}

/*AboutUs, HomePage*/
.contenedor {
  padding: 60px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/*AboutUs, HomePage.css*/
.titulo {
  color: #5F9EA0;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
}

/* Header */
/*HeaderHomePage*/
.body-inicio header {
  width: 100%;
  height: 600px;
  background: #E55D87;
  background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);
  background: linear-gradient(to right, hsla(195, 71%, 63%, 0.655), hsla(341, 72%, 63%, 0.655)), url(img/YogaFoto2.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
/*HeaderHomePage*/
nav {
  text-align: right;
  padding: 30px 50px 0px 0;
}
/*HeaderHomePage*/
nav>a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  border: 2px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 26px;
}
/*HeaderHomePage*/
nav>a:hover {
  text-decoration: underline;
}
/*HeaderHomePage*/
header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
/*HeaderHomePage*/
.textos-header h1 {
  font-size: 55px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*HeaderHomePage*/
.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*HeaderHomePage*/
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

/* Sobre Nosotros */

/*AboutUs*/
.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
}

/*AboutUs*/
.imagen-sobre-nosotros {
  width: 40%;
  height: auto;
}

/*AboutUs*/
.sobre-nosotros .contenido-textos {
  width: 48%;
  text-align: center;
  align-items: center;
}
/*AboutUs*/
.contenido-textos h3 {
  margin-bottom: 15px;
  text-align: center;
  display: block;
  padding: 2px;
  color: palevioletred;
}
/*AboutUs*/
.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* Clientes */
/*HomePage*/
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
  margin: 2rem auto;
  max-width: 1200px;
}
/*TestimonialCard, HomePage*/
.cards .card {
  background-color: #ffe4e1;
  display: flex;
  width: 300px;
  height: 420px;
  padding: 2rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6);
}
/*TestimonialCard, HomePage*/
.cards .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
  display: block;
  margin-bottom: 1rem;
}
/*TestimonialCard, HomePage*/
.cards .card>.contenido-textos-card {
  width: 60%;
  color: black;
}
/*TestimonialCard, HomePage*/
.cards .card>.contenido-textos-card p {
  font-size: 0.95rem;
  text-align: justify;
  color: black;
}
/*TestimonialCard, HomePage*/
.cards .card>.contenido-textos-card h4 {
  margin: 0.5rem 0;
  font-size: 1.2 rem;
  color: black;
  margin-bottom: 20px;
}
/*TestimonialCard, HomePage*/
.cards>card:nth-child(3) {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

/* Footer */

footer {
  background: #5f5a5add;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
/*Footer*/
.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  gap: 40px;
  flex-wrap: wrap;
}
/*Footer*/
.content-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 200px;
}
/*Footer*/
.content-footer h4 {
  color: #d9cfcf;
  border-bottom: 3px solid #f499ee;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  /*inline-block;*/
  gap: 8px;
  font-size: 1.1rem;
}
/*Footer*/
.content-footer p {
  color: #d9cfcf;
  margin: 0;
  font-size: 0.95rem;
}
/*Footer*/
.content-footer .icono-footer {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
/*Footer*/
.footer-copyright {
  width: 100%;
  text-align: center;
  border-top: 1px solid #b2aaaa;
  padding-top: 15px;
  margin-top: 30px;
}
/*Footer*/
.titulo-final {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  /*margin: 20px 0 0 0;*/
  color: #d9cfcf;
  padding-top: 2px;
}

/* Inicio Sesión */
/*LoginPage*/
body.body-inicio-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #daebfb;
}
/*LoginPage, RegisterPage*/
.contenedor-inicio-sesion {
  display: grid;
  grid-template-columns: 5fr 5fr;
  align-items: center;
  width: 57.25rem;
  height: 31rem;
}

/* Formulario */
/*LoginPage, RegisterPage*/
.contenedor-formulario-is {
  height: 100%;
  background-color: #ffe4e1;
}
/*index.css*/
form {
  /*border: 2px solid rgb(209, 2, 71);*/
  padding: 1.8rem;
  background-color: rgb(243, 199, 207);
}
/*index.css*/
form p {
  font-size: 0.85rem;
  font-weight: 500;
  color: black;
  margin-top: 0.3rem;
  margin-bottom: 1.8rem;
}
/*index.css*/
form p a {
  color: midnightblue;
  font-weight: 700 bold;
  text-decoration: none;
}
/*index.css*/
form p a:hover {
  text-decoration: underline;
}
/*index.css*/
form h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*LoginFields, RegisterFields*/
.input-contenedor-is {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}
/*LoginFields, RegisterFields*/
.input-contenedor-is input {
  padding: 0.7rem;
  border: 2px solid gray;
  border-radius: 0.4rem;
  outline: none;
}
/*LoginFields, RegisterFields*/
.input-contenedor-is label,
.input-contenedor-is a {
  font-size: 0.8rem;
  font-weight: 600;
}
/*LoginFields, RegisterFields*/
.input-contenedor-is .olvidar {
  display: flex;
  justify-content: space-between;
}
/*LoginFields, RegisterFields*/
.input-contenedor-is .olvidar a {
  align-self: flex-end;
  font-size: 12px;
  margin-right: 0px;
  margin-left: 250px;
}
/*LoginFields, RegisterFields*/
.input-contenedor-is a {
  color: midnightblue;
  text-decoration: none;
}
/*LoginFields, RegisterFields*/
.input-contenedor-is a:hover {
  text-decoration: underline;
}
/*LoginFields*/
.recordar {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 1.7rem;
}
/*LoginFields*/
.recordar label {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  margin-right: 200px;
  cursor: pointer;
}
/*index.css*/
form button {
  width: 100%;
  padding: 0.9rem 0;
  background-color: rgba(121, 169, 199, 0.845);
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: transform 0.3s;
}
/*index.css*/
form button:hover {
  transform: translateY(-6px);
}
/*LoginSocialButtons*/
.linea {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}
/*LoginSocialButtons*/
.linea::before,
.linea::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid black;
  margin: 0 0.6rem;
}
/*LoginSocialButtons*/
.otros-inicios-sesion {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/*LoginSocialButtons*/
.otros-inicios-sesion a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  font-weight: 700;
  padding: 0.6rem 1.5rem;
  gap: 0.5rem;
  border-radius: 0.4rem;
  text-decoration: none;
}
/*LoginSocialButtons*/
.otros-inicios-sesion img {
  width: 1rem;
}
/*LoginSocialButtons*/
.otros-inicios-sesion .google {
  border: 1px solid gray;
  color: red;
}
/*LoginSocialButtons*/
.otros-inicios-sesion .facebook {
  border: 1px solid gray;
  color: blue;
}
/*LoginSocialButtons*/
.otros-inicios-sesion .apple {
  border: 1px solid gray;
  color: black;
}
/*LoginSocialButtons*/
.otros-inicios-sesion span:hover {
  text-decoration: underline;
}

/* Banner Inicio Sesión*/
/*LoginPage*/
.banner {
  border: 2.5px solid rgb(209, 2, 71);
  height: 115%;
  ;
  padding: 2rem 2rem 0 2rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(233, 118, 156, 0.86);
}
/*LoginPage*/
.banner h1 {
  color: rgb(209, 2, 71);
  font-size: 3rem;
  line-height: 0.9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*LoginPage*/
.banner h1 span {
  display: block;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 6px;
}
/*LoginPage*/
.banner p {
  color: rgb(209, 2, 71);
  /*rgb(198, 198, 198);*/
  font-size: 1rem;
  margin-top: 1rem;
}
/*LoginPage*/
.banner img {
  position: absolute;
  bottom: 6rem;
  top: 6rem;
  right: -2rem;
  width: 95%;
}

/* Decoración Banner Inicio Sesión */
/*AuthBanner*/
.forma {
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}
/*AuthBanner*/
.forma1 {
  height: 12.5rem;
  width: 12.5rem;
  left: 20rem;
  top: 1.25rem;
}
/*AuthBanner*/
.forma2 {
  height: 28rem;
  width: 28rem;
  bottom: -10rem;
  right: -10rem;
}
/*AuthBanner*/
.forma3 {
  height: 15rem;
  width: 18rem;
  left: -10rem;
  top: 10.5rem;
}

/* Registrarse */
/*ChooseRolePage*/
.body-registrar {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #daebfb;
}
/*ChooseRolePage*/
.body-registrar header {
  padding: 40px 20px 20px;
}
/*ChooseRolePage*/
.body-registrar header h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: rgb(230, 120, 193);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/*ChooseRolePage*/
.body-registrar header p {
  font-size: 1.2rem;
  color: black;
}

/* Tarjetas Registrarse */
/*ChooseRolePage*/
.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px;
  margin-top: 40px;
  align-items: center;
  text-align: center;
}
/*RoleCard*/
.tarjeta {
  background: rgba(247, 223, 247, 0.837);
  border-radius: 15px;
  padding: 25px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /*Cambiar color*/
  transition: transform 0.3s;
  border: 2.5px solid rgb(241, 186, 222);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
/*RoleCard*/
.tarjeta:hover {
  transform: translateY(-20px);
}
/*RoleCard*/
.tarjeta img {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  width: 80px;
}
/*RoleCard*/
.tarjeta h3 {
  font-size: 1.1rem;
  color: #0b5865d5;
  margin-bottom: 10px;
}
/*RoleCard*/
.tarjeta p {
  font-size: 0.95rem;
  color: black;
  margin-bottom: 20px;
}
/*RoleCard*/
.boton-tarjeta {
  background-color: rgba(121, 169, 199, 0.845);
  color: white;
  /*Cambiar*/
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
}
/*RoleCard*/
.boton-tarjeta:hover {
  background-color: rgba(62, 87, 103, 0.845);
}

/* Registrarse */
/*RegisterFields*/
.titulo-registro {
  margin-bottom: 20px;
}
/*RegisterFields*/
.label-repetir,
.boton-registro {
  margin-top: 12px;
}
/*RegisterPage*/
.body-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f4d9e9;
}
/*RegisterPage*/
.formulario-registro {
  /*border: 2px solid rgb(209, 2, 71);*/
  padding: 1.8rem;
  background-color: rgba(152, 186, 227, 0.904);
}
/*RegisterFields*/
.boton-registro {
  width: 100%;
  padding: 0.9rem 0;
  background-color: rgba(207, 123, 173, 0.9);
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: transform 0.3s;
}
/*RegisterFields*/
.boton-registro:hover {
  transform: translateY(-6px);
}

/* Banner Registro */
/*RegisterPage*/
.banner-registro {
  border: 2.5px solid rgb(62, 94, 162);
  height: 115%;
  ;
  padding: 2rem 2rem 0 2rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(96, 150, 204, 0.86);
}
/*RegisterPage*/
.banner-registro h1 {
  color: rgb(62, 94, 162);
  /*rgb(198, 198, 198);*/
  font-size: 3rem;
  line-height: 0.9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*RegisterPage*/
.banner-registro h1 span {
  display: block;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 6px;
}
/*RegisterPage*/
.banner-registro p {
  color: rgb(62, 94, 162);
  font-size: 1rem;
  margin-top: 1rem;
}
/*RegisterPage*/
.banner-registro img {
  position: absolute;
  bottom: 6rem;
  top: 6rem;
  right: -2rem;
  width: 90%;
  margin-top: 36px;
}